body {
    background-color: rgba(201, 201, 60, 0.836);
}

.student-info {
    border: 2px solid black;
    padding:20px;
}
.btn1{
    background-color:green;
    border: 2px solid black;
}
.btn2{
    background-color:red;
    border: 2px solid black;
}
