body{
    display: block;
    margin: 8px;
}
button{
    margin-left: 45%;
}
.block{
    background-color: bisque;
    border: 1px solid black;
    height: 200px;
    width: 200;
}
.outer-div{
   display: block;
unicode-bidi: isolate;
}