body{
    font-style:normal;
}
.flex {
  display: flex;
}
nav {
  background-color:lightyellow;
  justify-content: space-around;
  align-items: center;
}
.nav-left img {
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.nav-left h1 {
  font-family: sans-serif;
}
.div-middle input {
  width: 350px;
  padding: 10px;
  border-radius: 20%;
}
.nav-end ul{
    list-style-type: none;
}
.nav-end ul li{
    margin-right: 10px;
}
.outer-div{
    display: grid;
     gap:15px;
     justify-content: center;
    grid-template-columns: auto auto;
   
}
.pet{
    background-color: aliceblue ;
    border: 2px;
    height: 250px;
    width: 250px;
    padding:3px;
    margin: 10%
    
}
.container {
      display: flex;
      margin-top: 20px;
    }

    /* Sidebar */
    .sidebar {
      width: 200px;
      background-color: #f4f4f4;
      padding: 20px;
      height: 100vh; /* full height */
    }

    .sidebar h3 {
      margin-bottom: 15px;
    }

    .sidebar ul {
      list-style: none;
      padding: 0;
    }

    .sidebar ul li {
      margin: 10px 0;
      cursor: pointer;
    }

.block{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        height: 250px;
        width: 650px;
        gap:15px;
        padding: 20px;
      }